/* header mobile */
svg {
    cursor: pointer;
}

.onlyDesktop {
    display: none;
}

.headerMobile {
    height: 120px;
    display: flex;
    background-color: #F3F3F3;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerMobile1 {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    text-decoration: none;

}

.headerMobile1 img {
    width: 25%;
    height: 25%;
    border-radius: 10px;
    cursor: pointer;
}

.headerMobile1 h1 {
    color: #0D4389;
    cursor: pointer;
    font-size: 20px;
    font-family: Zen Antique;
    line-height: 1;
    font-weight: 400;
    margin-left: 5px;

}

.headerMobile1 svg {
    margin-left: 20px;
    color: #0D4389;
    width: 20px;
    height: 30px;

}







/* menu hamburguer */
.menuHamburguer {
    width: 0;
    overflow: hidden;
    transition: .3s;
    top: 0;
    height: 100%;
    position: fixed;
    background-color: #F3F3F3;
    z-index: 99;

}

.active {
    overflow: visible;
    width: 60%;
    transition: .3s;
}


/* categories */
.log {
    background-color: #0D4389;
    height: 100px;
    display: flex;
}

.log a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    font-family: Zen Antique;
    font-weight: 600;
    margin-top: 30px;
}

.log svg {
    margin-right: 5px;
}

.cat {
    border-bottom: 2px solid whitesmoke;
    margin-top: 40px;
}

.cat p,
.cat a {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #0D4389;
    font-family: Zen Antique;
    font-weight: 400;
}



/* subcategories */
.subcat a {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    display: block;
    color: black;

}



@media screen and (min-width:992px) and (max-width: 4000px) {
    .headerMobile {
        display: none;
    }

    .onlyDesktop {
        display: block;
    }

    .headerDesktop {
        display: flex;
        background-color: #F3F3F3;
        align-items: center;
        justify-content: space-around;
        height: 120px;
    }

    .headerDesktop1 {
        display: flex;
        align-items: center;
        text-decoration: none;

    }

    .headerDesktop1 a {
        color: #0D4389;
        font-size: 15px;
        text-decoration: none;
        font-family: Zen Antique;
        font-weight: 600;
    }

    .headerDesktop1 h1 {
        color: #0D4389;
        cursor: pointer;
        font-size: 40px;
        font-family: Zen Antique;
        line-height: 1;
        font-weight: 400;
        margin-left: 5px;
    }

    .headerDesktop1 img {
        width: 30%;
        height: 30%;
        border-radius: 10px;
        cursor: pointer;
    }


    .headerDesktop1 svg {
        width: 20px;
        height: 30px;
    }

    .headerDesktop1 svg {
        margin-left: 10px;
        color: #0D4389;
    }

    .lupa {
        border: 2px solid #0D4389;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 5px;
        color: #0D4389;

    }

    .headerDesktop1 input {
        outline: none;
        height: 30px;
        width: 500px;
        border: 2px solid #0D4389;
        padding: 5px;
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 20px;
        font-family: Zen Antique;
        text-indent: 2px;

    }

    .menubottom a {
        text-decoration: none;
    }

    .menubottom {
        display: flex;
        height: 100px;
        background-color: #0D4389;
        justify-content: center;
        align-items: center;
    }

    .menubottom span {
        color: white;
        cursor: pointer;
        font-size: 25px;
        font-family: Zen Antique;
        font-weight: 600;
        margin-left: 60px;
    }

    .menubottom1 {
        background-color: #0D4389;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menubottom2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menubottom2 h1 {
        color: white;
        font-family: Zen Antique;
        font-weight: 500;
        font-size: 40px;
    }

    .menubottom2 a {
        font-size: 20px;
        margin-top: 10px;
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300;
    }
}