.popularTitle {
    padding: 20px;
}

.popularTitle h1 {
    font-family: Zen Antique;
    font-weight: 600;
    color: #0D4389;
    font-size: 30px;
}

.popular1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;

}

.popular2 {
    width: 40%;
    margin: 30px 0px;
    margin-left: 10px;
    border-bottom: 2px solid #0D4389;

}

a.popular2 {
    text-decoration: none;
}

.popular2 span {
    color: #0D4389;
    font-family: Zen Antique;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

@media screen and (min-width: 992px) and (max-width: 4000px) {
    .popular1 {
        justify-content: space-between;
    }

    .popular2 {
        width: 20%;
        margin: 30px 30px;

    }

    .popular2 a {
        font-size: 20px;
    }
}